:root {
  --primary-color: #343232;
  --secondary-color: #9dbdc6;
  --tertiary-color: rgb(61, 22, 13);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
  background-color: #edefee;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 48px;
  color: var(--primary-color);
  background-color: #9dbdc6;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
  text-decoration: underline cadetblue;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.45vw;
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* HEADER / NAVBAR STYLES END */
/* HERO STYLES START */
.hero {
  top: 0;
  background-image: url("../images/02-hero-bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 70px;
}

.subtitle {
  position: absolute;
  right: 30px;
}

.subtitle h3 {
  font-size: 25px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #9dbdc6;
}

/* HERO STYLES END */

/* MAIN TITLE STYLES START */
.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION TITLE STYLES START */
.section-title {
  font-size: 35px;
  margin-left: 1em;
}

.primary-border {
  color: var(--primary-color);
}

/* SECTION TITLE STYLES END */

/* ABOUT ME STYLES */
.intro {
  margin: 25px;
  display: flex;
  border-left: 3px solid black;
  flex-direction: row;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.flex-item:hover {
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  top: -25px;
  z-index: 999;
}

.intro h2 {
  text-align: right;
  padding-right: 15px;
  max-width: 120px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
  margin-left: 5%;
}
/* ENDS ABOUT ME STYLES */

/* WORK STYLES */

.ledwall {
  background-image: url("../images/02-portfolio-1.jpg");
}

.reactcalc {
  background-image: url("../images/02-portfolio-2.jpg");
}

.pastelpuzzles {
  background-image: url("../images/02-portfolio-3.jpg");
}

.surfreport {
  background-image: url("../images/02-portfolio-4.jpg");
}

.runbuddy {
  background-image: url("../images/02-run-buddy-1.jpg");
}

.flex-container p {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}

.flex-item h4 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-item h3 {
  color: #344648;
  background-color: var(--secondary-color);
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex-item {
  min-height: 200px;
  max-height: 400px;
  background-size: 150%;
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: 25px auto;
  padding: 10px;
  border-style: solid;
  border-width: 10px;
  color: var(--secondary-color);
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

/* END WORK STYLES */

/* CONTACT ME STYLES */
.flex-container a {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
}

.flex-container a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* ENDS CONTACT STYLES */

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: bold;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
  }

  header nav ul li a {
    font-size: 12px;
  }

  .flex-container a {
    font-size: 12px;
  }

  .intro h2 {
    font-size: 15px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}
